<!DOCTYPE html>
<html>
  <head>
    <title>MovieTicketApp</title>
    <%= csrf_meta_tags %>

     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/favicon.png" />

    <%= csrf_meta_tags %>
  </head>

 

			<!-- Navigation -->
		<body>
		<div id="drawer-right">
			<div class="cross text-right">
				<a class="toggleDrawer" href="#"><i class="fa fa-times-circle fa-2x"></i></a>
			</div>
			<h2>Navigate</h2>
			<nav>
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="#wrapper"><i class="fa fa-home"></i> Home</a>
					</li>
					<li>
						<a href="#portfolio"><i class="fa fa-bookmark"></i> Portfolio</a>
					</li>
					<li>
						<a href="#services"><i class="fa fa-tasks"></i> Services</a>
					</li>
					<li>
						<a href="#blog"><i class="fa fa-wordpress"></i> Blog</a>
					</li>
					<li>
						<a href="#parallax"><i class="fa fa-heart"></i> Parallax</a>
					</li>
					<li>
						<a href="#testimonials"><i class="fa fa-thumbs-up"></i> Testimonials</a>
					</li>
					<li>
						<a href="#contact"><i class="fa fa-phone-square"></i> Contact</a>
					</li>
				</ul>
			</nav>
			<div class="social">
				<h2>Stay Connected</h2>
				<ul>
					<li><a href=""><i class="fa fa-facebook-square fa-3x"></i></a></li>
					<li><a href=""><i class="fa fa-twitter-square fa-3x"></i></a></li>
					<li><a href=""><i class="fa fa-tumblr-square fa-3x"></i></a></li>
					<li><a href=""><i class="fa fa-google-plus-square fa-3x"></i></a></li>
				</ul>
			</div>
		</div><!-- #drawer-right -->

		<div id="wrapper">
			
			<div id="header" class="content-block header-wrapper">
				<div class="header-wrapper-inner">
					<section class="top clearfix">
						<div class="pull-left">
							<h1><a class="logo" href="index.html">Flusk</a></h1>
						</div>
						<div class="pull-right">
							<a class="toggleDrawer" href="#"><i class="fa fa-bars fa-2x"></i></a>
						</div>
					</section>
					<section class="center">
						<div class="slogan">
							SLIM &amp; STYLISH
						</div>
						<div class="secondary-slogan">
							The Flusk Theme By ThemeWagon.
						</div>
					</section>
					<section class="bottom">
						<a id="scrollToContent" href="#">
							<img src="assets/images/arrow_down.png">
						</a>
					</section>
				</div>
			</div><!-- header -->

			
			<div class="content-block" id="portfolio">
				<div class="container">
					<header class="block-heading cleafix">
						<a href="#" class="btn btn-o btn-lg pull-right">View All</a>
						<h1>Our Latest Works</h1>
						<p>Take a look at some of our recent products</p>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(assets/images/rain_1-320x240.jpg)">
									<span class="btn btn-o-white">Lorem Rocks</span>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(assets/images/min_icons_thumb1-320x240.jpg)">
									<span class="btn btn-o-white">Lorem Rocks</span>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(assets/images/flat_icons_thumb.jpg)">
									<span class="btn btn-o-white">Lorem Rocks</span>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(assets/images/wood-320x240.jpg)">
									<span class="btn btn-o-white">Lorem Rocks</span>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(assets/images/bike-320x240.jpg)">
									<span class="btn btn-o-white">Lorem Rocks</span>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(assets/images/six_1-320x240.jpg)">
									<span class="btn btn-o-white">Lorem Rocks</span>
								</a>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #portfolio -->

			
  


			<!-- Section -->
			<div class="container section" id="afterHeader">
				<div class="row">
					<div class="col-sm-12">

						<div class="tabs movies">
							<ul>
								<li><a href="#mon">Mon</a></li>
								<li><a href="#tue">Tue</a></li>
								<li><a href="#wed">Today</a></li>
								<li><a href="#thu">Thu</a></li>
								<li><a href="#fri">Fri</a></li>
								<li><a href="#sat">Sat</a></li>
								<li><a href="#sun">Sun</a></li>
							</ul>
							<div id="mon">
								<div class="row movie-tabs">
									<div class="col-md-2 col-sm-3">
										<a href="single-movie.html">
											<img src="http://via.placeholder.com/265x340" alt="Movie title" />
										</a>
                   <%# Movie1 %>
									</div>
									<div class="col-md-10 col-sm-9">
										<span class="title">Action, Adventure, Fantasy</span>
										<h3 class="no-underline">It's over</h3>
										<p>European mercenaries searching for black powder become embroiled in the defense of It's over of China against a horde of monstrous creatures.</p>
										<p><a href="single-movie.html" class="arrow-button">Full synopsis</a></p>

										<div class="row">
											<div class="col-md-8 col-sm-9">
												<hr class="space-10" />
												<span class="viewing-times">
													<i class="material-icons">access_time</i>
													Viewing times
												</span>

												<span class="time past">14:45</span> 
												<span class="time">18:30</span> 
												<span class="time">20:30</span> 
												<span class="time">24:45</span> 
											</div>
											<div class="col-md-4 col-sm-3 running-time">
												<hr class="space-10" />
												105 mins <span class="certificate">15</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row movie-tabs">
									<div class="col-md-2 col-sm-3">
										<a href="single-movie.html">
											<img src="http://via.placeholder.com/265x340" alt="Movie title" />
										</a>
									</div>
                  <%# Movie2 %>
									<div class="col-md-10 col-sm-9">
										<span class="title">Action, Adventure, Sci-Fi </span>
										<h3 class="no-underline">Captain America: The First Avenger</h3>
										<p>Steve Rogers, a rejected military soldier transforms into Captain America after taking a dose of a "Super-Soldier serum". But being Captain America comes at a price as he attempts to take down a war monger and a terrorist organization.</p>
										<p><a href="single-movie.html" class="arrow-button">Full synopsis</a></p>

										<div class="row">
											<div class="col-md-8 col-sm-9">
												<hr class="space-10" />
												<span class="viewing-times">
													<i class="material-icons">access_time</i>
													Viewing times
												</span>

												<span class="time past">11:00</span> 
												<span class="time">16:00</span> 
												<span class="time">18:00</span> 
												<span class="time">21:00</span> 
											</div>
											<div class="col-md-4 col-sm-3 running-time">
												<hr class="space-10" />
												120 mins <span class="certificate">PG</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row movie-tabs">
									<div class="col-md-2 col-sm-3">
										<a href="single-movie.html">
											<img src="http://via.placeholder.com/265x340" alt="Movie title" />
										</a>
									</div>
                  <%# Movie3 %>
									<div class="col-md-10 col-sm-9">
										<span class="title">Drama</span>
										<h3 class="no-underline">Fences</h3>
										<p>A working-class African-American father tries to raise his family in the 1950s, while coming to terms with the events of his life.</p>
										<p><a href="single-movie.html" class="arrow-button">Full synopsis</a></p>

										<div class="row">
											<div class="col-md-8 col-sm-9">
												<hr class="space-10" />
												<span class="viewing-times">
													<i class="material-icons">access_time</i>
													Viewing times
												</span>

												<span class="time past">10:00</span> 
												<span class="time past">12:45</span> 
												<span class="time">17:00</span> 
												<span class="time">21:15</span> 
											</div>
											<div class="col-md-4 col-sm-3 running-time">
												<hr class="space-10" />
												135 mins <span class="certificate">18</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row movie-tabs">
									<div class="col-md-2 col-sm-3">
										<a href="#">
											<img src="http://via.placeholder.com/265x340" alt="Movie title" />
										</a>
									</div>
                  <%# Movie4 %>
									<div class="col-md-10 col-sm-9">
										<span class="title">Drama</span>
										<h3 class="no-underline">Daylight</h3>
										<p>A chronicle of the childhood, adolescence and burgeoning adulthood of a young black man growing up in a rough neighborhood of Miami.</p>
										<p><a href="single-movie.html" class="arrow-button">Full synopsis</a></p>

										<div class="row">
											<div class="col-md-8 col-sm-9">
												<hr class="space-10" />
												<span class="viewing-times">
													<i class="material-icons">access_time</i>
													Viewing times
												</span>

												<span class="time past">11:00</span> 
												<span class="time past">14:30</span> 
												<span class="time">20:00</span> 
												<span class="time">21:15</span> 
											</div>
											<div class="col-md-4 col-sm-3 running-time">
												<hr class="space-10" />
												117 mins <span class="certificate">U</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="tue">
								<div class="row movie-tabs">
									<div class="col-md-2 col-sm-3">
										<a href="single-movie.html">
											<img src="http://via.placeholder.com/265x340" alt="Movie title" />
										</a>
									</div>
                  <%# Movie5 %>
									<div class="col-md-10 col-sm-9">
										<span class="title">Drama</span>
										<h3 class="no-underline">Daylight</h3>
										<p>A chronicle of the childhood, adolescence and burgeoning adulthood of a young black man growing up in a rough neighborhood of Miami.</p>
										<p><a href="single-movie.html" class="arrow-button">Full synopsis</a></p>

										<div class="row">
											<div class="col-md-8 col-sm-9">
												<hr class="space-10" />
												<span class="viewing-times">
													<i class="material-icons">access_time</i>
													Viewing times
												</span>

												<span class="time past">11:00</span> 
												<span class="time past">14:30</span> 
												<span class="time">20:00</span> 
												<span class="time">21:15</span> 
											</div>
											<div class="col-md-4 col-sm-3 running-time">
												<hr class="space-10" />
												117 mins <span class="certificate">U</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row movie-tabs">
									<div class="col-md-2 col-sm-3">
										<a href="single-movie.html">
											<img src="http://via.placeholder.com/265x340" alt="Movie title" />
										</a>
									</div>
                  <%# Movie6 %>
									<div class="col-md-10 col-sm-9">
										<span class="title">Action, Adventure, Sci-Fi </span>
										<h3 class="no-underline">Captain America: The First Avenger</h3>
										<p>Steve Rogers, a rejected military soldier transforms into Captain America after taking a dose of a "Super-Soldier serum". But being Captain America comes at a price as he attempts to take down a war monger and a terrorist organization.</p>
										<p><a href="single-movie.html" class="arrow-button">Full synopsis</a></p>

										<div class="row">
											<div class="col-md-8 col-sm-9">
												<hr class="space-10" />
												<span class="viewing-times">
													<i class="material-icons">access_time</i>
													Viewing times
												</span>

												<span class="time past">11:00</span> 
												<span class="time">16:00</span> 
												<span class="time">18:00</span> 
												<span class="time">21:00</span> 
											</div>
											<div class="col-md-4 col-sm-3 running-time">
												<hr class="space-10" />
												120 mins <span class="certificate">PG</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row movie-tabs">
									<div class="col-md-2 col-sm-3">
										<a href="single-movie.html">
											<img src="http://via.placeholder.com/265x340" alt="Movie title" />
										</a>
									</div>
                  <%# Movie7 %>
									<div class="col-md-10 col-sm-9">
										<span class="title">Action, Adventure, Fantasy</span>
										<h3 class="no-underline">It's over</h3>
										<p>European mercenaries searching for black powder become embroiled in the defense of It's over of China against a horde of monstrous creatures.</p>
										<p><a href="single-movie.html" class="arrow-button">Full synopsis</a></p>

										<div class="row">
											<div class="col-md-8 col-sm-9">
												<hr class="space-10" />
												<span class="viewing-times">
													<i class="material-icons">access_time</i>
													Viewing times
												</span>

												<span class="time past">14:45</span> 
												<span class="time">18:30</span> 
												<span class="time">20:30</span> 
												<span class="time">24:45</span> 
											</div>
											<div class="col-md-4 col-sm-3 running-time">
												<hr class="space-10" />
												105 mins <span class="certificate">15</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row movie-tabs">
									<div class="col-md-2 col-sm-3">
										<a href="single-movie.html">
											<img src="http://via.placeholder.com/265x340" alt="Movie title" />
										</a>
									</div>
                  <%# Movie8 %>
									<div class="col-md-10 col-sm-9">
										<span class="title">Drama</span>
										<h3 class="no-underline">Fences</h3>
										<p>A working-class African-American father tries to raise his family in the 1950s, while coming to terms with the events of his life.</p>
										<p><a href="single-movie.html" class="arrow-button">Full synopsis</a></p>

										<div class="row">
											<div class="col-md-8 col-sm-9">
												<hr class="space-10" />
												<span class="viewing-times">
													<i class="material-icons">access_time</i>
													Viewing times
												</span>

												<span class="time past">10:00</span> 
												<span class="time past">12:45</span> 
												<span class="time">17:00</span> 
												<span class="time">21:15</span> 
											</div>
											<div class="col-md-4 col-sm-3 running-time">
												<hr class="space-10" />
												135 mins <span class="certificate">18</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="wed">
								<div class="row movie-tabs">
									<div class="col-md-2 col-sm-3">
										<a href="single-movie.html">
											<img src="http://via.placeholder.com/265x340" alt="Movie title" />
										</a>
									</div>
                  <%# Movie9 %>
									<div class="col-md-10 col-sm-9">
										<span class="title">Action, Adventure, Fantasy</span>
										<h3 class="no-underline">It's over</h3>
										<p>European mercenaries searching for black powder become embroiled in the defense of It's over of China against a horde of monstrous creatures.</p>
										<p><a href="single-movie.html" class="arrow-button">Full synopsis</a></p>

										<div class="row">
											<div class="col-md-8 col-sm-9">
												<hr class="space-10" />
												<span class="viewing-times">
													<i class="material-icons">access_time</i>
													Viewing times
												</span>

												<span class="time past">14:45</span> 
												<span class="time">18:30</span> 
												<span class="time">20:30</span> 
												<span class="time">24:45</span> 
											</div>
											<div class="col-md-4 col-sm-3 running-time">
												<hr class="space-10" />
												105 mins <span class="certificate">15</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row movie-tabs">
									<div class="col-md-2 col-sm-3">
										<a href="single-movie.html">
											<img src="http://via.placeholder.com/265x340" alt="Movie title" />
										</a>
									</div>
                  <%# Movie10 %>
									<div class="col-md-10 col-sm-9">
										<span class="title">Action, Adventure, Sci-Fi </span>
										<h3 class="no-underline">Captain America: The First Avenger</h3>
										<p>Steve Rogers, a rejected military soldier transforms into Captain America after taking a dose of a "Super-Soldier serum". But being Captain America comes at a price as he attempts to take down a war monger and a terrorist organization.</p>
										<p><a href="single-movie.html" class="arrow-button">Full synopsis</a></p>

										<div class="row">
											<div class="col-md-8 col-sm-9">
												<hr class="space-10" />
												<span class="viewing-times">
													<i class="material-icons">access_time</i>
													Viewing times
												</span>

												<span class="time past">11:00</span> 
												<span class="time">16:00</span> 
												<span class="time">18:00</span> 
												<span class="time">21:00</span> 
											</div>
											<div class="col-md-4 col-sm-3 running-time">
												<hr class="space-10" />
												120 mins <span class="certificate">PG</span>
											</div>
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>

			

			<!-- Section - contact-->
			<div class="container section small-padding">
				<div class="row">
					<div class="col-sm-12 cta">
						<p>Need help? Contact our support team on</p>
						<p class="gradient-text">0330 123 4567</p>
					</div>
				</div>
			</div>


     <%# <%= yield  %>
                              
	<footer>
				<div class="container">
					<div class="row">
						<div class="col-sm-3">
							<h6>Get in touch</h6>
							<ul>
								<li><a href="#">FAQs</a></li>
								<li><a href="#">Give us feedback</a></li>
								<li><a href="#">Contact us</a></li>
							</ul>
						</div>
						<div class="col-sm-3">
							<h6>About Movie star</h6>
							<ul>
								<li><a href="#">About us</a></li>
								<li><a href="#">Find us</a></li>
								<li><a href="#">Schedule</a></li>
								<li><a href="#">News</a></li>
							</ul>
						</div>
						<div class="col-sm-3">
							<h6>Legal stuff</h6>
							<ul>
								<li><a href="#">Terms &amp; Conditions</a></li>
								<li><a href="#">Privacy policy</a></li>
								<li><a href="#">Cookie policy</a></li>
							</ul>
						</div>
						<div class="col-sm-3">
							<h6>Connect with us</h6>
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
								<li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i> Google +</a></li>
							</ul>
						</div>
					</div>
					<div class="copyright">
						<p>2017 &copy; Movie Star  /  <a href="http://www.klevermedia.co.uk">Web design by Klever media</a></p>
					</div>
				</div>
			</footer>
  </body>
</html>




